 header{
    background-color: violet;
}

nav{
    background-color:yellowgreen ;
    width: 30px;
    height:auto;

}

main{
    background-color: blue;
    width: 32px;
    height: 60px;
    padding: 40px;
    float: left;
}

aside{
    background-color: rebeccapurple;
    width: 32px;
    height: 70px;
    padding: 40px;
}

footer{
    background-color: burlywood;
}
nav ul li a{
    text-decoration: none;
    list-style-type: none;
    
}